body {
	background: #e612a5;
	margin: 0;
	padding: 0;
}

#banner {
	width: 100%;
}

h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	font-size: 70px;
}

.textos {
	font-size: 30px;
	background: white;
}

p {
	text-align: center;
}


